<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ConfigBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
    <service name="SampleService.Impl.TestService" behaviorConfiguration="ConfigBehavior">
      <endpoint address="http://localhost:3123/TestService" binding="basicHttpBinding" name="TestService" 
                contract="SampleService.Contracts.ITestService"/>
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:11111/TestService"/>
        </baseAddresses>
      </host>
    </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
